header {
    /* min-height: 90vh; */
    background-image: url('./Assets/Hero-bg.png');
}

header nav {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

header nav .logo-area {
    font-size: 34px;
    font-family: var(--rs-secondary-font);
    color: var(--rs-primary-color);
    font-weight: 900;
    letter-spacing: .15rem;
}

.header-content {
    max-width: 900px; 
    padding: 150px 20px 200px 20px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.header-content .header-title {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    letter-spacing: 0;
    font-family: var(--rs-primary-font);
    color: var(--rs-primary-text-color);
}

.action-section .left-side {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.action-section p {
    font-size: 24px;
    color: rgba(37, 36, 50, 50%);
}

.action-section img {
    border-radius: 48px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productive-section {
    background-color: rgba(var(--rs-primary-color-rgb), 10%);
    border-radius: 24px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.productive-section .productive-item-box .item-title {
    color: rgba(var(--rs-primary-color-rgb), 1);
    font-size: 80px;
    font-weight: bold;
    font-family: var(--rs-secondary-font);
}

.productive-section .productive-item-box .item-text {
    color: rgba(0, 0, 0, 50%);
    font-size: 20px;
    font-weight: 400;
    font-family: var(--rs-secondary-font);
    text-align: center;
}

.user-feedback-section h4 {
    margin-bottom: 50px;
}

.user-feedback-item-box {
    padding: 24px;
    background-color: rgba(255, 255, 255, 50%);
    border: 1px solid #F2EDED;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.user-feedback-item-box .review-icons {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.user-feedback-item-box .item-title {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--rs-secondary-font);
}

.user-feedback-item-box .item-text {
    font-size: 16px;
}

.user-feedback-item-box .avatar-section {
    display: flex;
    gap: 12px;
    align-items: center;
}

.user-feedback-item-box .avatar-section img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-feedback-item-box .avatar-text h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: .25rem;
}

.user-feedback-item-box .avatar-text p {
    font-size: 12px;
    font-weight: 500;
    color: #B3B3B3;
}

.user-focus-section {
    padding: 70px 150px;
    background-color: #FFFFFF;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user-focus-section .user-focus-section-title {
   font-size: 50px;
   font-weight: bold;
   color: #000000; 
}

.user-focus-section p {
    color: rgba(0, 0, 0, 50%); 
    font-size: 16px;
}

.user-focus-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 48px;
    border: 2px solid #FFFFFF;
    transition: .3s ease-in-out all;
}

.user-focus-section img:hover {
    border-radius: 20px;
    box-shadow: 0px 20px 20px 0px rgba(var(--rs-primary-color-rgb), 20%);
}

.get-touch-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 115px;
}

.get-touch-section h4 {
    font-size: 95px;
    font-weight: bold;
    font-family: var(--rs-primary-font);
    color: #000000;
}

.get-touch-section .input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.get-touch-section .input-group label {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--rs-secondary-font);
    color: #000000;
}

.get-touch-section .input-group input,
.get-touch-section .input-group textarea {
    font-size: 20px;
    max-height: 100px;
    max-width: 400px;
    min-width: 400px;
    font-family: var(--rs-secondary-font);
    color: rgba(0, 0, 0, 50%);
    border-radius: 10px;
    padding: 20px 32px;
    background-color: #FFFFFF;
    border: 2px solid #D6DDED;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.get-touch-section .input-group textarea {
    min-height: 100px;
}

.get-touch-section .input-group input:focus,
.get-touch-section .input-group textarea:focus {
    border: 2px solid var(--rs-primary-color);
}

.get-touch-section button {
    padding: 20px 110px;
}